.app-wrapper {
    .main-header {
        margin-bottom: 0;
    }

    .app-page-wrapper {}

    .select-item-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        .select-item-action {
            margin-left: 30px;
        }
    }

    .app-main-wrapper {
        // margin: 0 20px 20px 20px;
        // margin-bottom: 20px;

        .section-indent-wrapper {
            margin: 20px;
            margin-top: 40px;
            padding: 24px;
            height: 100%;
            min-height: 70vh;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            display: flex;
            flex-direction: column;

            &.bg-trans {
                box-shadow: none;
                background-color: transparent;
            }

            .app-table-wrapper {
                flex: 1;

                .ant-spin-nested-loading {
                    height: 100%;

                    .ant-spin-container {
                        height: 100%;
                        display: flex;
                        flex-direction: column;

                        >.ant-table {
                            flex: 1;
                            overflow: auto;
                            // max-height: 70vh;
                        }
                    }
                }

                .ant-table-thead>tr>th {
                    font-weight: bold;
                    font-size: 16px;
                    text-transform: capitalize;
                    white-space: nowrap;
                }

                .ant-table-tbody>tr>td {
                    font-size: 15px;
                    white-space: nowrap;
                }

                .ant-table-tbody tr>td:last-of-type {
                    text-align: center;
                }

                .ant-table-container,
                .ant-table-container table>thead>tr:first-child th:first-child {
                    // font-size: 19px;
                    // font-weight: 500;
                }

                &.table-hover-wrapper {
                    .ant-table-tbody tr {
                        &:hover {
                            background-color: #e0e0e0;
                            cursor: pointer;

                            >td {
                                background: transparent;
                            }
                        }
                    }
                }

                .ant-badge-status-dot {
                    width: 12px;
                    height: 12px;
                }
            }

            .table-tabs-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #f0f0f0;

                .table-tabs--list {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 0;

                    li {
                        margin-right: 30px;
                        font-size: 20px;
                        text-transform: capitalize;
                        cursor: pointer;

                        &:hover {
                            color: royalblue;
                        }

                        &.active {
                            color: royalblue;
                            border-bottom: 1px solid royalblue;
                            font-weight: 600;
                        }
                    }
                }

                @include mq("tablet") {
                    display: none;
                }
            }

            &.dashboard-section-wrapper {
                box-shadow: none !important;
                background-color: #eff3f6;
            }

            .ant-table-thead tr>th:last-of-type {
                text-align: center;
            }

            @include mq("tablet") {
                padding: 10px;
                margin: 25px 16px;
            }
        }
    }

    .app-page-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-top: 1px solid #d6dbe7;
        background-color: #fff;

        @include mq("tablet") {
            flex-direction: column;
            padding: 20px 6px;

            h2 {
                margin-bottom: 15px;
            }
        }

        .ant-dropdown-trigger {
            margin: 0 10px;
        }

        h3 {
            cursor: pointer;
        }
    }
}